<h3>User</h3>
<div id='users-tbl'>
<table>
  <tr><td><input class='button-xs1' name='name' value='Name:' /></td><td><%= @user.name if @user.name %></td></tr>
  <tr><td><input class='button-xs1' name='email' value='Email:' /></td><td><%= @user.email if @user.email %></td></tr>
</table>
</div> <!-- end users-tbl -->
